th {
  background-color: #cc2062;
  color: #fcb8d2;
  text-align: center;
  margin-top: 1px;
  border: 2px solid rgb(0, 0, 0);
}

td {
  justify-content: center;
  border: 1px solid black;
  text-align: center;
  padding-bottom: 0.5rem;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 75%;
  height: 75%;
  border: 2px solid black;
}
